// color variables
$color_primary: rgb(241, 97, 33);
$color_light_primary: rgb(236, 182, 159);

$color_gray: rgb(43, 44, 47);
$color_medium_gray: #9b9b9b;
$color_light_gray: rgb(211, 211, 214);

$color_green: #bfdb39;

// font size
$font_size_sm: 0.8rem;
$font_size_md: 1.2rem;
$font_size_lg: 5rem;
$font_size_title: 2rem;

// icon variables
$icon_size: 1.5rem;

